.Layout{
  display: flex;
  .sidebar{
    width: 6%;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 10px 0 50px 10px rgba(0, 0, 0, 0.05);
    z-index: 1;
    padding-top: 40px;
    .burger-icon{
      display: flex;
      justify-content: center;
    }
    .pages{
      margin-top: 70px;

      .nav{
        flex-wrap: wrap;
        .nav-item{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: .35s linear;
          .nav-link{
            height: 80px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .icons{
              svg{
                path{
                  fill: #ADBAD2;
                  transition: .35s linear;
                }
              }
            }
          }
          .active-link{
            background: #CDD7EA;
            .icons{
              svg{
                path{
                  fill: #FFFFFF;
                }
              }
            }
          }
        }
      }

      .camera{
        height: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
        margin-top: 180px;
      }

    }
  }
  .content{
    width: 94%;
    height: 100vh;
    background: #F5F5F5;
    .navigation-bar{
      //width: 100%;
      height: 70px;
      background: #FFFFFF!important;
      display: flex;
      padding: 0 100px 0 40px;
      align-items: center;
      justify-content: space-between;
      .title{
        width: 50%;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        position: relative;
        &:after{
          content: '';
          display: block;
          position: absolute;
          height: 50px;
          width: 1px;
          background: #E3E7F4;
          right: 50px;
          top: -5px;

        }
      }
      .nav-items{
        width: 45%;
        box-sizing: border-box;
      ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        .list-item{
          list-style: none;
          .list-link{
            text-decoration: none;
            color: rgba(43, 51, 79, 0.38);
            position: relative;
            &:after{
              content: '';
              display: block;
              position: absolute;
              width: 0;
              height: 4px;
              background: #ADBAD2;
              bottom: -6px;
              right: 0;
            }
            &:before{
              content: '';
              display: block;
              position: absolute;
              height: 50px;
              width: 1px;
              background: #E3E7F4;
              //#E3E7F4
              right: -38px;
              top: -11px;

            }
            .link-title{
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
            }
          }
          .active-link{
              color: #2B334F;
            &:after{
              width: 100%;
            }
          }
        }
        .list-item:last-child{
          .list-link:before{
            content: '';
            display: none;
          }
        }
      }
      }
    }

  }

}