.user {

  .for-padding {
    padding: 10px 15px 0 15px;
    box-sizing: border-box;

    .container-fluid {
      background: #FFFFFF;
      padding: 20px 55px;
      box-shadow: 10px 0px 50px 10px rgba(0, 0, 0, 0.05);
      border-radius: 20px;
    }

    .input-name {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 8px;
      color: #2B334F;
    }

    .form-control {
      height: 50px;
      border: 1px solid #ADBAD2;
      border-radius: 10px;
    }

    .for-mt {
      margin-top: 11px;
    }

    .for-mt2 {
      margin-top: 15px;
    }

    .files {
      .iks {
        display: flex;
        justify-content: end;
        margin-bottom: -5px;
        z-index: 5;
        //padding-right: 5px;
        box-sizing: border-box;

        img {
          width: 13px;
          height: 13px;
          border-radius: 50%;
          cursor: pointer;

          &:hover {
            box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
          }

        }
      }

      .file.name {
        font-size: 10px;
        line-height: 12px;
        color: #2B334F;
      }

    }

    .for-height {
      height: 100%;
      display: flex;
      align-items: center;

      .plus {
        //width: 18px;
        //height: 18px;
        padding: 4.5px 4.5px;
        box-sizing: border-box;
        border-radius: 4px;
        background: #F5C257;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

    }

    .box {
      background: #FFFFFF;
      box-shadow: 10px 0px 50px 10px rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      width: 300px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 30px 0px;
      box-sizing: border-box;

      .input-title {
        font-family: 'Lato', sans-serif;
        margin-bottom: 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #2B334F;
      }

      .sum-input {
        width: 147px;
        height: 35px;
        margin-bottom: 10px;
      }

      .graph {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        cursor: pointer;

        .create-graph {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          color: #00BF36;
        }
      }

    }

    table {

      tr{
        padding-bottom: 26px;
        box-sizing: border-box;
      }

      thead {
        th{
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 13px;
          line-height: 16px;
          color: #2B334F;
          text-align: center;
        }
      }

      tbody {

        .nomerovka {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          color: #000000;
        }

        .status {

          .data1{
            background: #CCD6E9;
          }

          .data {
            border: none;
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 101px;
            height: 30px;
            border-radius: 20px;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            color: #FFFFFF;
            outline: none;
          }


        }

        .chislo{
          width: 113px;
          height: 30px;
          background: #FFFFFF;
          border: 1px solid #ADBAD2;
          border-radius: 10px;
          outline: none;
          font-family: 'Lato',sans-serif;
          text-align: center;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          color: #000000;
          margin-left: 10px;
        }

        /*.status{
          width: 78px;
          height: 30px;
          background: #FFFFFF;
          border: 1px solid #ADBAD2;
          border-radius: 10px;
          font-family: 'Lato',sans-serif;
          font-style: normal;
          font-size: 13px;
          line-height: 16px;
          color: #000000;
        }*/

        .summa{
          width: 78px;
          height: 30px;
          background: #FFFFFF;
          border: 1px solid #ADBAD2;
          border-radius: 10px;
          font-family: 'Lato',sans-serif;
          text-align: center;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          color: #000000;
          margin-right: 10px;
          margin-left: 10px;
        }

        .edit{
          margin-right: 10px;
        }

        .for-margin{
          margin-bottom: 15px;
        }
      }

    }


  }

  .for-height1{
    height: 360px;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
  }

  .for-height2{
    padding-top: 10px;
    box-sizing: border-box;
  }
}